<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-sm-12 col-md-4">
            <img src="../../assets/undraw_Security_on_re_e491.png" class="d-flex m-auto" height="100px" alt="">
            <ul class="text-center p-0">
                <li><span class="material-symbols-outlined">
                        done
                    </span> 100% Secure and Safe.</li>
                <li><span class="material-symbols-outlined">
                        done
                    </span> No Redirects.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <img src="../../assets/undraw_Download_re_li50.png" class="d-flex m-auto" height="100px" alt="">
            <ul class="text-center p-0">
                <li><span class="material-symbols-outlined">
                        done
                    </span> Easy and Direct Downloads.</li>
                <li><span class="material-symbols-outlined">
                        done
                    </span> 100% Free.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <img src="../../assets/undraw_audio_player_re_cl20.png" class="d-flex m-auto" height="100px" alt="">
            <ul class="text-center p-0">
                <li><span class="material-symbols-outlined">
                        done
                    </span> High quality audio.</li>
                <li><span class="material-symbols-outlined">
                        done
                    </span> Download as MP3.</li>
            </ul>
        </div>
    </div>
    <h4 class="m-4 text-center">Youtube to MP3 Downloader</h4>
    <p class="text-center">
        MP3DLTUBE allows you to download High Quality MP3 audio from YouTube Video. This site is 100% Safe and Secure.<br>
        You can easily download High Quality MP3 audio with Youtube Video link directly.
    </p>
    <h3 class="text-center m-4 p-0">Instructions:</h3>
    <ul class="text-center mb-4 p-0">
        <li>1. Paste the youtube video link.</li>
        <li>2. Click on arrow button.</li>
        <li>3. Click Download.</li>
        <li>Done!</li>
    </ul>
</div>